In [13]:
#1
s= input("Enter the value:")
reverse=s[::-1]
if(s==reverse):
    print("palimdrom mun")
else:
    print("palimdrom bish")

Enter the value:1325
palimdrom bish

In [14]:
#1
x="tenet"
y=""
for i in x:
    y=i+y
if (x==y):
    print("palimdrom  mun")
else:
    print("palimdrom  bish")

palimdrom  mun

In [16]:
#1

st = 'malayalam'
j = -1
flag = 0
for i in st:
    if i != st[j]:
        flag = 1
        break
    j = j - 1
if flag == 1:
    print(" palimdrom bish ")
else:
    print("palimdrom mun")

palimdrom mun

In [21]:
#2
text=input()
d={"upper_case":0,"lower_case":0}
for c in text:
    if c.isupper():
        d["upper_case"]+=1
    elif c.islower():
        d["lower_case"]+=1
    else:
        pass
print("Upper case: "+str (d["upper_case"]))    
print("lower case: "+str (d["lower_case"]))

Hello world
Upper case: 1
lower case: 9

In [22]:
#2
def upperlower(string):
  
    upper = 0
    lower = 0
  
    for i in range(len(string)):
          
        
        if (ord(string[i]) >= 97 and
            ord(string[i]) <= 122):
            lower += 1
  
        
        elif (ord(string[i]) >= 65 and
              ord(string[i]) <= 90):
            upper += 1
  
    print('Lower case characters = %s' %lower,
          'Upper case characters = %s' %upper)

string = 'Nmaun'
upperlower(string)

Lower case characters = 4 Upper case characters = 1

In [8]:
#4
number=int(input("Enter the number:"))
factorial=1
if(number<0):
    print("Can not computer factorial for Negative number")
elif(number<2):
    print("{}!={}".format(number,factorial))
else:
    for num in range(number, 1, -1):
        factorial=factorial*num
    print("{}!={}".format(number,factorial))

Enter the number:6
6!=720

In [6]:
#3
 
def multiplyList(myList) :
     
   
    result = 1
    for x in myList:
         result = result * x
    return result
     

list1 = [1, 2, 3]

print(multiplyList(list1))

6

In [7]:
#5
def Reverse(lst):
    return [ele for ele in reversed(lst)]
     

lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [21]:
#6
total = 0
 

list1 = [11, 5, 17, 18, 23]
 

for ele in range(0, len(list1)):
    total = total + list1[ele]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [20]:
#7
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : " +  str(test_list))
  
test_list = list(set(test_list))

print ("The list after removing duplicates : " + str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [19]:
#8
def maximum(list):
    list = [10, 14, 12]
    return max(list)
  
print(maximum(list))

14